{extend name="$admin_layout"/}

{block name="style"}
{volist name="css" id="item"}
<link href="{$item}" rel="stylesheet">
{/volist}
<style>
  {$stylesheet|raw}

</style>
{/block}

{block name="content"}
<script type="text/javascript">
  (function() {
      if (localStorage.getItem('site_theme') === 'dark') {
          document.documentElement.style.background = '#1c1e2f';
          document.querySelector('body').setAttribute('data-theme', 'dark');
      } else {
          document.documentElement.style.background = '#fff';
          document.querySelector('body').setAttribute('data-theme', '');
      }
  })();
</script>
<div class="panel panel-default content">
  {notempty name="$title"}
  <div class="panel-heading content-header">
    <h4 class="panel-title">
      {$title|raw}
      {notempty name="$desc"}
      <small> - {$desc|raw}</small>
      {/notempty}
    </h4>
  </div>
  {/notempty}
  <div class="panel-body page-main">
    {volist name="rows" id="row"}
        {:$row->render()}
    {/volist}
  </div>
</div>
<script type="text/javascript">
  window.__blang = JSON.parse('{$__blang|raw}');
</script>
{/block}
{block name="script"}
{volist name="js" id="item"}
  <script type="text/javascript" src="{$item}" charset="utf-8"></script>
{/volist}
<script type="text/javascript">
    $(function(){

      {$script|raw}

      window.addEventListener('message', (event) => {
          // 检查消息类型是否为更改主题
          if (event.data.type === 'change_theme') {
              // 获取主题值
              const themeValue = event.data.value || event.data.theme;
              // 根据主题值设置暗黑模式
              if (themeValue === 'dark') {
                  document.querySelector('body').setAttribute('data-theme', 'dark');
              } else {
                  document.querySelector('body').setAttribute('data-theme', '');
              }
          }
      });
      
    });
</script>
<div class="hidden" id="script-div"></div>
{/block}